#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(24, 202, 83);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    right: 10px;
    top:35px;
    font-size: 18px;
    z-index: 1000;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 10px; opacity: 1;}
}

@keyframes fadeout {
    from {right: 10px; opacity: 1;}
    to {right: 0; opacity: 0;}
}